h2 {
    font-size: 2em;
    color: cadetblue;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-left: 45px;
}

p {
    font-size: 20px;
    padding: 0 45px;
}

.service > p {
    padding: 0px 0px;
}

.contact {
    display: inline-block;
    width: 45%;
    vertical-align: top;
}

.contact img {
    width: 150px;
    height: 150px;
}

.service {
    display: inline-block;
    width: 30%;
    margin: 10px 10px 100px;
    padding: 10px;
}

.service img {
    width: 500px;
    height: 300px;
}

.services {
    text-align: center;
}

.services h2 {
    padding-left: 0px;
}

@media screen and (max-width: 768px) {
    /* Adjustments for smaller screens */
    h2,
    p {
        padding: 0 15px;
    }

    .service {
        width: 100%;
        margin: 10px 0;
        padding: 10px;
    }

    .service img {
        width: 100%;
        height: auto;
    }

    .contact {
        width: 100%;
        margin: 10px 0;
    }

    .contact img {
        width: 50%;
        height: auto;
    }
}