body{
    background-image: url("../images/background-flowers.jpg"); /* https://www.pinterest.ca/pin/659988520386082931/image source: */
    background-repeat: no-repeat;
    background-size: cover;
}

fieldset {
    margin-top: 30px;
    font-weight: bold;
    text-align: center;
    width: 70%;
    margin: 35px auto;
}
legend {
    color: cadetblue;
    font-size: x-large;
}
input {
    background-color: rgb(210, 246, 225);
    border: none;
    width: 50%;
    height: 30px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
div label {
    font-weight: lighter;
    width: 50%;
    display: inline-block;
    text-align: left;
    margin-bottom: 5px;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"]
input[type="radio"] {
    width: 50%;
    height: 30px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
#wedding_season {
    width: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
input[type="radio"] {
    transform: scale(0.6);
}
#dropdown{
    width: 50%;
    display: inline-block;
    text-align: left;
    box-sizing: border-box;
    margin: 10px 0;
}
#dropdown select{
    width: 50%;
}
div label[for="date"] {
    width: 50%;
    display: inline-block;
    text-align: left;
    margin-bottom: 5px;
}
input[type="date"] {
    width: 50%;
    height: 30px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
#submit {
    width: 15%;
    font-weight: bold;
    text-align: center;
    border: solid 1px black;
    margin-top: 20px;
}

@media screen and (max-width: 768px){
    body{
        background-image: none;
    }
    div label[for="date"] {
        display: inline;
    }
    #wedding_season{
        display: flex;
        padding-left: 5%;
    }
    #dropdown label{
        display: inline;
        width: 70%;
    }
    #dropdown select{
        width: 90%;
    }
    #submit {
        width: 35%;
    }
}